#nav {
		PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100; BACKGROUND: url(transparent.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 10px arial, verdana, sans-serif; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: relative
	}
	#nav UL {
		PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100; BACKGROUND:#f60; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 10px arial, verdana, sans-serif; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: relative
		
	}
	#nav {
		PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #000; PADDING-BOTTOM: 0px; WIDTH: 740px; PADDING-TOP: 0px; HEIGHT: 23px
	}
	#nav TABLE {
		BORDER-COLLAPSE: collapse
	}
	#nav LI {
		FLOAT: left
	}
	#nav LI LI {
		FLOAT: none
	}
	#nav LI A LI {
		FLOAT: left
	}
	#nav LI A {
		PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; COLOR: #fff; LINE-HEIGHT: 22px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 23px; TEXT-DECORATION: none
	}
	#nav LI LI A {
		FLOAT: none; LINE-HEIGHT: 20px; HEIGHT: 21px
	}
	#nav LI:hover {
		Z-INDEX: 100; POSITION: relative
	}
	#nav A:hover {
		Z-INDEX: 100; BACKGROUND: #843; BORDER-LEFT: #843 1px solid; COLOR: #0000ff; POSITION: relative
	}
	#nav LI:hover > A {
		BACKGROUND: #843; BORDER-LEFT: #843 1px solid; COLOR: #0000ff;
	}
	#nav :hover UL {
		Z-INDEX: 300; LEFT: 0px; BORDER-LEFT: #843 1px solid; TOP: 23px
	}
	#nav A:hover UL {
		LEFT: -1px
	}
	#nav UL {
		LEFT: -9999px; POSITION: absolute; TOP: -9999px
	}
	#nav LI:hover LI:hover > UL {
		LEFT: 0px; MARGIN-LEFT: 100%; TOP: 0px
	}
	#nav LI:hover > UL UL {
		LEFT: -9999px; WIDTH: auto; POSITION: absolute; TOP: -9999px
	}
	#nav LI:hover LI:hover > A {
		BACKGROUND: #333; BORDER-LEFT: #333 1px solid; COLOR: #ff1
	}
	#nav LI A:hover UL LI A:hover {
		BACKGROUND: #333
	}
	#nav A:hover A:hover UL {
		LEFT: 100%; TOP: 0px
	}
	#nav A:hover A:hover A:hover UL {
		LEFT: 100%; TOP: 0px
	}
	#nav A:hover A:hover A:hover A:hover UL {
		LEFT: 100%; TOP: 0px
	}
	#nav A:hover A:hover A:hover A:hover A:hover UL {
		LEFT: 100%; TOP: 0px
	}
	#nav A:hover UL UL {
		LEFT: -9999px; POSITION: absolute; TOP: -9999px
	}
	#nav A:hover A:hover UL UL {
		LEFT: -9999px; POSITION: absolute; TOP: -9999px
	}
	#nav A:hover A:hover A:hover UL UL {
		LEFT: -9999px; POSITION: absolute; TOP: -9999px
	}
	#nav A:hover A:hover A:hover A:hover UL UL {
		LEFT: -9999px; POSITION: absolute; TOP: -9999px
	}
